asgiref==3.11.1
Django==6.0.5
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-filter==24.3
djangorestframework==3.17.1
gunicorn==23.0.0
pillow==12.2.0
python-dotenv==1.0.1
sqlparse==0.5.5
whitenoise==6.8.2
