<div class="topics card animate-fadein-up">
  <div class="topics__header">
    <h2>Browse Topics</h2>
  </div>
  <ul class="topics__list scroll">
    <li>
      <a href="{% url 'home' %}" class="active"
        >All <span>{{topics.count}}</span></a
      >
    </li>
    {% for topic in topics %}
    <li>
      <a href="{% url 'home' %}?q={{topic.name}}"
        >{{ topic.name }}<span>{{topic.room_set.all.count}}</span></a
      >
    </li>
    {% endfor %}
    <a class="btn btn--link" href="{% url 'topic' %}">
      More
      <svg width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
  </ul>
</div>
