<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'base/assets/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <title>StudyBuddy - Find study partners around the world!</title>
  </head>

  <body>
    <div class="site-wrapper">
      {% include 'negbr.html' %} {% if messages %}
      <div id="popup-message" class="custom-modal show">
        <div class="custom-modal-content">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
          <button class="custom-modal-close" onclick="closeModal()">
            Close
          </button>
        </div>
      </div>
      <script>
        function closeModal() {
          document.getElementById("popup-message").style.display = "none";
        }
      </script>
      {% endif %}
      <script>
        window.addEventListener("DOMContentLoaded", function () {
          const popups = document.querySelectorAll(".popup-message");
          popups.forEach(function (popup) {
            setTimeout(() => {
              popup.style.display = "none";
            }, 3000); // Hide after 3 seconds
          });
        });
      </script>
      <div class="main-content">{% block start %}{% endblock %}</div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
