{% extends 'main.html' %}

{% block start %}

<main class="layout layout--3">
  <div class="container">

    <!-- Topics Start -->
    {% include 'base/topic_component.html' %}

    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="mobile-menu">
        <form action="{% url 'home' %}" method="GET" class="header__search" role="search">
          <label>
            <span class="visually-hidden">Search rooms</span>
            <span class="material-symbols-rounded" aria-hidden="true">search</span>
            <input name="q" placeholder="Search for posts" aria-label="Search rooms" />
          </label>
        </form>
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="{% url 'topic' %}">Browse Topics</a>
          <a class="btn btn--main btn--pill" href="{% url 'activity' %}">Recent Activities</a>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Study Rooms</h2>
          <p>{{room_count}} Rooms available</p>
        </div>

        <a class="btn btn--main" href="{% url 'create-room' %}">
          <span class="material-symbols-rounded" aria-hidden="true">add</span>
          Create Room
        </a>
      </div>

      {% include 'base/feed_component.html' %}

    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}

    <!-- Activities End -->
  </div>
</main>

{% endblock %}