{% extends 'main.html' %}
{% block start %}
<main class="auth layout">
  {% if page == 'login' %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Login</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Find your study partner</h2>
        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="Email" autocomplete="email" />
          </div>
          <div class="form__group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" autocomplete="current-password" />
          </div>
          <button class="btn btn--main" type="submit">
            <span class="material-symbols-rounded" aria-hidden="true">lock</span>
            Login
          </button>
        </form>
        <div class="auth__action">
          <p>Haven't signed up yet?</p>
          <a href="{% url 'register' %}" class="btn btn--link">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Register</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Find your study partner</h2>
        <form class="form" action="" method="POST">
          {% csrf_token %}
          {% for field in form %}
          <div class="form__group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}<small class="form__error">{{ field.errors|striptags }}</small>{% endif %}
          </div>
          {% endfor %}
          <button class="btn btn--main" type="submit">
            <span class="material-symbols-rounded" aria-hidden="true">lock</span>
            Register
          </button>
        </form>
        <div class="auth__action">
          <p>Already signed up?</p>
          <a href="{% url 'login' %}" class="btn btn--link">Login</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</main>
{% endblock %}
