{% extends 'main.html' %}

{% block start %}

  <main class="create-room layout">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <a href="{% url 'home' %}" aria-label="Back to home">
              <span class="material-symbols-rounded" aria-hidden="true">arrow_back</span>
            </a>
            <h3>Create/Update Study Room</h3>
          </div>
        </div>
        <div class="layout__body">
          <form class="form" action="" method="POST">
            {% csrf_token %}

            <div class="form__group">
              <label for="room_name">Enter Topic</label>
              <input required type="text" value="{{room.topic.name}}" name="topic" list="topic-list" />
              <datalist id="topic-list">
                <select id="room_topic">
                  {% for topic in topic %}
                    <option value="{{topic.name}}">{{topic.name}}</option>
                  {% endfor %}
                </select>
              </datalist>
            </div>

            <div class="form__group">
              <label for="room_name">Room Name</label>
              {{ form.name }}
            </div>
          
            <div class="form__group">
              <label for="description">Room description</label>
              {{ form.description }}
            </div>

            <div class="form__action">
              <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
              <button class="btn btn--main" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

{% endblock %}